/* src/StarshipCardGrid.css */

.starship-list {
    display:flexbox;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.starship-card {
    border: 1px solid #dddddd;
    padding: 16px;
    background-color: #6cde15;
    border-radius: 4px;
    text-align: center;
}

.favorite-icon {
    cursor: pointer;
    font-size: 24px;
}